### VisualStudioCode ###
main/.vscode/*
main/.vscode/settings.json
main/.vscode/launch.json
main/.vscode/extensions.json
main/.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

main/out/*
